@model IEnumerable<scbH60Store.Models.ProductCategory>

<h2>Products by Category</h2>
@if (Model != null && Model.Any())
{
    @foreach (var category in Model.OrderBy(c => c.ProdCat))
    {
        <h3>@category.ProdCat</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Sell Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in category.Products.OrderBy(p => p.Description))
                {
                    <tr>
                        <td>@product.Description</td>
                        <td>@product.Stock</td>
                        <td>@product.SellPrice</td>
                        <td>
                            <a asp-action="Details" asp-route-productId="@product.ProductId">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>No products available.</p>
}
